html, body
{
    height: 100%;
    background-color:black;
}

img{
	height: 83%;

    /* Center and scale the image nicely */
    margin:auto;
}

.word{
	font-size: 5rem;
	line-height: 5rem;
    color:red;
    font-family:'Cute Font', cursive;
 }
.cont{
	
    margin: auto 0;
    overflow: hidden;
}