{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Cute+Font|Dancing+Script|Do+Hyeon|IBM+Plex+Serif|Merriweather|Mogra|Oswald" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>

<nav class="navbar navbar-dark bg-dark justify-content-center">
	<span class="navbar-brand" style="font-family: 'Lobster', cursive;font-size: 36px; color: red" href="">Happy Birthday MY Beutiful Black Chocolate Girl</span>
</nav><br>

<div class="container-fluid">
	<div class="row">
		<audio autoplay loop>
   <source src="{% static 'main/images/1.mp3' %}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
		<div class="col-sm-7 " style="background-color:;">
		  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner" role="listbox">
		  		<div class="carousel-item active">
			      <video height="83%" autoplay muted><source src="{% static 'main/images/vid00.mp4' %}" type="video/mp4">Your browser does not support HTML5 video.</video>
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/1.gif' %}" alt="Second slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/1.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/2.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/3.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/4.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/5.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/6.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/7.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/8.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/9.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/10.jpg' %}" alt="Third slide">
			    </div>
			     <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/11.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/12.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/13.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/14.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/15.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/16.jpg' %}" alt="Third slide">
			    </div>
			     <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/17.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/18.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/19.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/20.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/21.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			        <img class="d-block img" src="{% static 'main/images/22.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/23.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/24.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/25.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/26.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/17.jpg' %}" alt="Third slide">
			    </div>
			     <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/28.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/29.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/30.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/31.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/32.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/33.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/34.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/35.jpg' %}" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block img" src="{% static 'main/images/36.jpg' %}" alt="Third slide">
			    </div>
		  </div>
		 </div>
		</div>

		<!-- second column-->
<div class="col-sm-5 cont" style="background-color:black;">

	<button class="btn btn-outline-info" onclick="myFunction()" style="position: relative;margin-top: 5px;">Here's what I think About you</button>

    <div class="container" style="background-color: ;">
	<p id="mycompliment" class="word">Happy Birthday Eulalie!! wishing you Joy and Many more years....</p>
	</div>





<!-- javascript code-->
<script type="text/javascript">				
	var y = "{{object_list}}";
	x = y.toString()
	x = x.replace(/Complements|QuerySet/gi, function (x) {
        return "";}).replace(/[&\/\\#,+()$~%.":*<>{}]/g,'').replace(/lt|gt/g,'').replace(/39;/g,"'").slice(5,-3);;
	var arr = x.split('; ;');

	
	
	
	function myFunction() {
    document.getElementById("mycompliment").innerHTML = arr[Math.floor(Math.random() * arr.length)];
}
</script>
				
		</div>	 
	</div>	  

</div>

</body>